name: DevOps Zaliczenie CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Ustawienie Pythona
      uses: actions/setup-python@v3
      with:
        python-version: "3.9"

    - name: Instalacja bibliotek
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # ZADANIE 13 (DODATKOWE): Quality Gate (sprawdzanie jakości kodu)
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics

    # ZADANIE 4: Uruchomienie Testów
    - name: Test with pytest
      run: |
        pytest --junitxml=test-results.xml

    # ZADANIE 4: Raport z wyników (żeby było ładnie widać w GitHubie)
    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()
      with:
        files: test-results.xml
